@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <img src="~/images/Complaint.jpg"   
                        
                         height="300" width="1300"   
                         asp-append-version="true" />  
</div>

<p>Add a Complaint <a href="/Complaints/Create">Click</a></p>

<p>
  @ViewBag.userid
</p>
